.bannerBackground {
  background-color: #daeaea;
  height: 690px;
  width: 100%;
  overflow: hidden;
}
.FashionHouseDivLeft {
  margin-right: -350px;
  margin-left: 300px;
}

.FashionHouseH2 {
  font-size: 40px;
  line-height: 40px;
  font-weight: bolder;
  color: #232323;
  font-style: normal;
}

.FashionHouseP {
  width: 500px;
  font-size: 12px;
  color: #232323;
  line-height: 20px;
}

.animationhr {
  border: 2px solid #232323;
  width: 70px;
}

.imageDiv {
  margin-left: -500px;
}

.brandImageStyle {
  height: 700px;
  width: auto;
  animation: brandImageStyle 1s ease-out 1s;
}

@keyframes brandImageStyle {
  0% {
    transform: scale(1.5, 1.5);
  }

  100% {
    transform: scale(1, 1);
  }
}

/* h2 animation */

.FashionHouseH2 span {
  display: block;
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
  }
}

.FashionHouseHR .animationhr {
  display: block;
  animation: reveal 1.5s cubic-bezier(0.77, 1, 0.175, 1) 0.5s;
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
  }
}

.FashionHousePDiv .FashionHouseP {
  display: block;
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
  }
}
